*{
    background-color: rgb(29, 18, 34);
}

.layout{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    min-height: 100%;
}

.layout-main{
    width: 50%;
    text-align: center;   
}

.main-star{
    position: absolute;
    font-size: 100px;
    cursor: pointer;

}

@keyframes bigger {
    100%{
        transform: scale(1.7);
        opacity: 0;
    }
    
}

.main-star--grey{
    color: rgb(129, 127, 127);
    z-index: 1;
}

.main-star--yellow{
    color: yellow;
    z-index: 1;
    opacity: 1;
    visibility: hidden;
}

.visible{
    animation: bigger 1s linear;
    opacity: 1;
    visibility: visible;
}

.yellow-color{
    color: yellow;
}